# Movies Tonight Part 2: SQL DDL

In [25]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to say what each line does

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [26]:
%%sql
DROP TABLE IF EXISTS THEATERS;
CREATE TABLE THEATERS (
    TID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    LOCATION TEXT NOT NULL,
    PHONE TEXT NOT NULL
);
DROP TABLE IF EXISTS MOVIES;
CREATE TABLE MOVIES (
    MID INTEGER PRIMARY KEY,
    TITLE TEXT NOT NULL,
    RATING TEXT
);
DROP TABLE IF EXISTS ARTISTS;
CREATE TABLE ARTISTS (
    AID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL
);
DROP TABLE IF EXISTS SHOWS;
CREATE TABLE SHOWS (
    SID INTEGER PRIMARY KEY,
    ShowTime TEXT NOT NULL,
    MID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES(MID),
    FOREIGN KEY (TID) REFERENCES THEATERS(TID)
);
DROP TABLE IF EXISTS CREDIT;
CREATE TABLE CREDIT (
    CID INTEGER PRIMARY KEY,
    AID INTEGER NOT NULL,
    CCODE TEXT NOT NULL,
    MID INTEGER NOT NULL,
    FOREIGN KEY (AID) REFERENCES ARTISTS(AID),
    FOREIGN KEY (MID) REFERENCES MOVIES(MID)
);

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [27]:
# I tried to do this in two steps but found this comment that said it does not allow it in SQLite
# SQLite doesn't support the ADD CONSTRAINT variant of the ALTER TABLE command (sqlite.org: SQL Features That SQLite Does Not Implement). 
# https://stackoverflow.com/questions/1884818/how-do-i-add-a-foreign-key-to-an-existing-sqlite-table

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

Brian Nicholls